/* variables */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

image{
    display: block;
}

:root {
    --clr-bg: hsl(30, 54%, 90%);
    --clr-card: hsl(0, 0%, 100%);
    --clr-title: hsl(24, 5%, 18%);
    --clr-headings: hsl(14, 45%, 36%);
    --clr-num: hsl(14, 45%, 36%);
    --clr-nutri: hsl(14, 45%, 36%);
    --clr-body: hsl(30, 10%, 27%);
    --clr-prep-box: hsl(330, 100%, 98%);
    --clr-prep-heading: hsl(332, 51%, 32%);
}

/* utility clases */

* {
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

.list {
    display: grid;
    gap: 10px;
    list-style-type: none;
    padding-left: 50px;
}

ul li {
    position: relative;
}

ul li::before {
    font-size: 30px;
    content: "•";
    color: var(--clr-headings);
    position: absolute;
    top: -11.5px;
    left: -50px;
}

ol {
    list-style-type: none;
    padding-left: 50px;
}

ol li {
    position: relative;
    counter-increment: custom-counter;
}

ol li::before {
    font-weight: 600;
    content: counter(custom-counter) ". ";
    color: var(--clr-headings);
    position: absolute;
    left: -50px;
}

.prep-list {
    list-style-type: none;
    padding-left: 50px;
}

.prep-list li::before {
    font-size: 30px;
    content: "•";
    color: var(--clr-prep-heading);
    position: absolute;
    top: -11.5px;
    left: -50px;
}

body,html {
    overflow-x: hidden;
    background-color: var(--clr-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #8a8a8a;
}

td {
    padding: 10px;
}

.container {
    display: grid;
    gap: 1.5rem;
}

tbody tr:last-of-type {
    border-bottom: none;
}

img {
    width: 100%;
    border-radius: 17px;
}

/* styling */

.card {
    display: grid;
    gap: 2rem;
    box-sizing: border-box;
    background-color: var(--clr-card);
    padding: 36px;
    width: 60vw;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 17px;
}

h1 {
    color: var(--clr-title);
    font-size: 50px;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h2 {
    color: var(--clr-headings);
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

p,
ul li,
ol li,
.column1 {
    font-family: 'Outfit', serif;
    color: var(--clr-body);
}

.prep-time {
    border-radius: 17px;
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--clr-prep-box);
}

.prep-heading {
    font-family: 'Outfit', serif;
    font-weight: 700;
    color: var(--clr-prep-heading);
}

.column2{
    font-family: 'Outfit', serif;
    color: var(--clr-headings);
    font-weight: 600;
}

.omelette{
    display: none;
}

@media (max-width: 50em){
    .image{
        display: none;
    }
    .omelette{
        background-color: white;
        display: block;
    }
    .card{
        padding-top: 0px;
        border-radius: 0px;
        margin: 0;
        width: 100vw;
    }
    img{
        border-radius: 0px;
    }
    .image{
        padding: 0;
    }
}